<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>newsScraper App</title>



    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Fredericka+the+Great" rel="stylesheet">

    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- My CSS --}}
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

	<body>
		<header></header>
		<main>
			{{{ body }}}
		</main>
		<footer></footer>

	{{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>

  <!-- Materialize Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	
	{{!-- My Javascript --}}
  <script src="app.js"></script>


    </body>
</html>
